<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Burger</title>
        
	<meta charset="UTF-s">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>'Burger'</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>

    </head>
    <body>              

       {{{body}}}

    </body>
   
</html>

